.description{
    display: flex;
    flex-direction: column;
    padding-inline: 15rem;
    padding-top: 2rem;
}
.description h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff6060;
    color: white;
    padding: 1rem;
    margin-bottom: 0;
    font-size: 25px;
}
.description p{
    background: whitesmoke;
    margin-top: 0;
    padding: 1rem;
    padding-block: 0;
    color: #FF6060;
    font-size: 20px;
}
