.appart-info{
    padding-inline: 4rem;
}
.appart-title h1{
    margin: 0;
    margin-top: 1rem;
    color: #ff6060;
}
.appart-title h2{
    margin: 0;
    color: #ff6060;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 10rem;
    @media screen and (width <= 768px) {
        flex-direction: column;
        gap: 3rem;
        }
}
.tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
}
.tag{
    background-color: #ff6060;
    padding: 0.2rem;
    padding-inline: 2rem;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}
.main-title{
    display: flex;
    justify-content: space-between;
    @media screen and (width <= 768px) {
    flex-direction: column;
    }
}
.profil-picture{
    background-color: silver;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1rem;
}
.profil{
    display: flex;
    padding-top: 1rem;
    gap: 2rem;
}
.profil h3{
    margin: 0;
    color: #ff6060;
    width: 20%;
}
.profil p{
    margin: 0;
}
.appart-notation{
    font-size: 2rem;
    @media screen and (width <= 768px) {
        padding-top: 2rem;
        }
}
.appart-notation .off{
    color: silver;
}
.appart-notation .on{
    color: #ff6060;
}
.dropdown h3{
    background: #ff6060;
    padding: 1rem;
    margin-bottom: 0;
    color: white;
}
.dropdown p{
    background: whitesmoke;
    color: #ff6060;
    margin: 0;
    padding: 0.5rem;
}
.dropdown li{
    background: whitesmoke;
    color: #ff6060;
    margin: 0;
    padding: 0.2rem;
    padding-left: 0.5rem;
    list-style-type: none;
}
.appart-publicator{
    @media screen and (width <= 768px) {
        display: flex;
        flex-direction: row-reverse;
        gap: 7rem;
        }
}
.image-profil{
    height: 100%;
    width: 100%;
}
.dropdown .description{
    width: 45%;
    padding: 0;
}
.dropdown .description h3{
    padding: 0.5rem;
    margin: 0;
    padding-inline: 1rem;
}
.carousel .slide img{
    padding-inline: 5rem;
    height: 60vh;
    object-fit: cover;
}