.container{
    padding: 0;
    margin: 0;
    height: 100%;
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.appart{
    padding: 0;
}
.pic{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.location-name{
    position: absolute;
    bottom: -15px;
    left: 11px;
    color: white;
}