.description{
    display: flex;
    flex-direction: column;
    padding-inline: 5rem;
    padding-top: 2rem;
}
.description h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff6060;
    color: white;
    padding: 1rem;
    margin-bottom: 0;
    font-size: 25px;
    border-radius: 20px;
}
.description p{
    background: whitesmoke;
    margin-top: 0;
    padding: 2rem;
    color: #FF6060;
    position: relative;
    top: -15px;
    font-size: 20px;
    z-index: -1;
    border-radius: 0 0 20px 20px;
}
