.background{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #DCDCDC;
    width: auto;
    height: auto;
    border-radius: 30px;
    padding: 1rem;
    margin: 3rem;
    @media screen and (width <= 860px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        } 
}
.appart{
    width: 30%;
    height: auto;
    margin: 1rem;
    padding: 0.5rem;
    background: transparent;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media screen and (width <= 1200px) {
        width: 40%;
        } 
}
.appart{
    @media screen and (width <= 860px) {
        width: 90%;
        display: flex;
        } 
}
.title{
    color: white;
    font-size: 20px;
    font-style: italic;
}

