.image-container{
    position: relative;
    margin-bottom: 2rem;
    height: 30rem;
}
.image-appart{
position: absolute;
inset: 0;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 1rem;
opacity: 0;
transition: opacity 0.5s ease-in-out;
filter: brightness(0.8);
}
.visible{
    opacity: 1;
}
.main-container{
    padding-inline: 5rem;
    @media screen and (width <= 860px) {
        padding-inline: 1rem;
        }
}
.next{
    position: absolute;
    right: 0;
    height: 100%;
    width: 5%;
    font-size: 5rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    @media screen and (width <= 900px){
        font-size: 2rem;
        right: 15px;
    }
}
.next{
    @media screen and (width <= 1200px){
        right: 20px;
    }
}
.previous{
    position: absolute;
    left: 0;
    height: 100%;
    width: 5%;
    font-size: 5rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    @media screen and (width <= 900px){
        font-size: 2rem;
    }
}
.image-number{
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    bottom: 0;
    margin-bottom: 1rem;
    @media screen and (width <= 800px){
        font-size: 1rem;
    }
}
.no-image{
    display: none;
}