.appart-image{
    border-radius: 30px;
    height: 25rem;
    width: 100%;
    object-fit: cover; 
    filter: brightness(0.8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.container-image{
    padding-inline: 4rem;
    position: relative;
}
.overlay{
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 0.4rem 1.5rem;
    text-align: left;
}
.overlay-title{
    color: white;
    text-align: center;
    font-size: 65px;
}