.appart-image{
    border-radius: 30px;
    height: 25rem;
    width: 100%;
    object-fit: cover; 
    filter: brightness(0.8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    @media screen and (width <= 860px) {
        height: 15rem;
        }
}
.paysage-montagne{
    @media screen and (width <= 860px) {
        height: 10rem;
        }
}
.container-image{
    padding-inline: 4rem;
    position: relative;
    padding-bottom: 2rem;
    @media screen and (width <= 860px) {  
        padding-inline: 0.5rem;
        padding-bottom: 0;
        position: relative;
        top: -15px;
        } 
}
.overlay{
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 0.4rem 1.5rem;
    text-align: left;
    @media screen and (width <= 860px) {
        left: 0;
        }
    
}
.overlay-title{
    color: white;
    text-align: center;
    font-size: 55px;
    padding-inline: 3rem;
    @media screen and (width <= 860px) {
        text-align: left;
        font-size: 35px;
        padding: 0;
        padding-inline: 0;
        margin: 0;
        padding-inline: 1rem;
        }
}