.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
}
.image{
    padding: 1rem;
    margin: 1rem;
}
.title{
    font-size: 30px;
    margin-bottom: 2rem;
}